:root {
  --D3EBF7: #d3ebf7;
  --8ECAE6: #8ecae6;
  --219EBC: #219ebc;
  --023047: #023047;
  --FFB703: #ffb703;
  --FB8500: #fb8500;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--D3EBF7);
  width: 100%;
  padding: 1rem 0;
}

#navbar a {
  color: var(--219EBC);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Sour Gummy", sans-serif;
  font-size: 1.75rem;
  font-weight: 500;
}

#navbar a:hover {
  color: var(--FB8500);
  transform: scale3d(1.1, 1.1, 1);
}

body {
  margin: 0;
}

/* animated duck banner */

.duck-banner {
  position: relative;
  height: 100px;
  background: var(--D3EBF7);
  overflow: hidden;
  z-index: 1;
  padding-bottom: 20px;
}

.duck-wrapper {
  position: absolute;
  bottom: 10px;
  left: 100vw;
  animation: floatDuck 20s linear infinite;
}

.duck-img {
  height: 60px;
  transform: scaleX(1);
}

.duck1 {
  animation-delay: 0s;
}
.duck2 {
  animation-delay: 8s;
}
.duck3 {
  animation-delay: 16s;
}

@keyframes floatDuck {
  0% {
    transform: translateX(0) translateY(20);
  }
  25% {
    transform: translateX(-25vw) translateY(-15px);
  }
  50% {
    transform: translateX(-55vw) translateY(10);
  }
  75% {
    transform: translateX(-80vw) translateY(-25px);
  }
  100% {
    transform: translateX(-120vw) translateY(0);
  }
}

.home {
  background-color: var(--D3EBF7);
}

.home h2 {
  font-family: "Chicle", serif;
  font-weight: 400;
  font-size: 12rem;
  text-align: center;
  color: var(--FB8500);
  text-shadow: var(--219EBC) 2px 2px 0;
  margin-top: 0;
  margin-bottom: 3rem;
}

.home p {
  font-family: "Quicksand", serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  color: var(--219EBC);
  margin: 0;
  padding: 0.3rem;
}

button {
  padding: 0.5rem 1.5rem;
  background-color: var(--FFB703);
  color: var(--023047);
  text-decoration: none;
  border-radius: 5px;
  font-family: "Quicksand", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--D3EBF7);
  padding: 3rem;
}

/* General styles for all pages */

body {
  background-color: var(--D3EBF7);
}


/* Duck card */

.duck-card {
  background-color: var(--D3EBF7);
  border: solid 2px var(--219EBC);
  border-radius: 10px;
  padding: 1rem;
  margin: 0.5rem 2rem 0 2rem;
}

.duck-card h2 {
  font-family: "Chicle", serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--023047);
}

.duck-card p {
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 1.2rem;
}

.duck-card img {
  height: 200px;
  width: auto;
  border-radius: 10px;
}

.duck-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 2rem;
  margin-top: 2rem;
}

.search-bar {
  width: 100%;
  max-width: 300px;
  padding: 0.25rem;
  border: 2px solid var(--219EBC);
  font-size: 1rem;
  border-radius: 5px;
  outline: none;
  font-family: "Quicksand", sans-serif;
  margin-left: 2rem;
  background-color: var(--FFB703);
}

.search-bar input {
  width: 90%;
  height: 1rem;
  border-radius: 5px;
  padding: 0.5rem;
  font-family: "Quicksand", sans-serif;
  border: none;
}

/* Ducky details page */

.ducky-details {
  padding: 2rem;
}

.ducky-details img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.ducky-details p {
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--219EBC);
  margin-left: 2rem;
}

.ducky-container h2 {
  font-family: "Chicle", serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--023047);
  margin-left: 2rem;
}

.ducky-container p {
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--219EBC);
  margin-left: 2rem;
}

.ducky-details h2 {
  font-family: "Chicle", serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--023047);
}

.ducky-details button {
  margin-left: 2rem;
}

.reviews {
  width: 80%;
  min-width: 600px;
  margin-top: 1rem;
  margin-left: 2rem;
  padding: 0.25rem 0 1rem;
  background-color: white;
  border-radius: 10px;
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--023047);
}

.reviews h3 {
  font-family: "Chicle", serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--023047);
  margin-left: 2rem;
}

.review-form {
  width: 80%;
  min-width: 600px;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  padding: 0.25rem 0 1rem;
  background-color: var(--8ECAE6);
  border-radius: 10px;
}

.review-form .form-group {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

.review-form input,textarea {
  padding: 5px;
  border: 2px solid var(--219EBC);
  border-radius: 5px;
  font-family: "Quicksand", serif;
  font-size: 1rem;
}

.review-form label {
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--023047);
  padding: 0 0.5rem;
  margin-left: 2rem;
}

.review-form h3 {
  font-family: "Chicle", serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--023047);
  margin-left: 2rem;
  margin-top: 0.5rem;
}

.review-form button {
  margin-left: 2rem;
  background-color: var(--FFB703);
}

/* Register page */

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.register-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: var(--8ECAE6);
  padding: 2rem;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}

.register-container input {
  padding: 0.5rem;
  border: 2px solid var(--219EBC);
  border-radius: 5px;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.register-container button {
  background-color: var(--FFB703)
}

/* Login page */

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.login-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  background-color: var(--8ECAE6);
  padding: 2rem;
  border-radius: 10px;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.2rem;
}

.login-container h2 {
  font-family: "Chicle", serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--023047);
  margin-bottom: 1rem;
}

.login-container input {
  padding: 0.5rem;
  border: 2px solid var(--219EBC);
  border-radius: 5px;
  margin-left: 0.5rem;
}

.login-container button {
  background-color: var(--FFB703)
}

/* Account page */

.account-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

.account-container h2 {
  font-family: "Chicle", serif;
  font-weight: 300;
  font-size: 2rem;
  color: var(--023047);
  margin-bottom: 1rem;
}

.account-container p {
  font-family: "Quicksand", serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--219EBC);
  margin-bottom: 1rem;
}