:root {
  --8ECAE6: #8ecae6;
  --219EBC: #219ebc;
  --023047: #023047;
  --FFB703: #ffb703;
  --FB8500: #fb8500;
}

#navbar {
  display: flex;
  justify-content: space-between;
  background-color: var(--8ECAE6);
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#navbar a {
  color: var(--219EBC);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}