:root {
  --D3EBF7: #d3ebf7;
  --8ECAE6: #8ecae6;
  --219EBC: #219ebc;
  --023047: #023047;
  --FFB703: #ffb703;
  --FB8500: #fb8500;
}

#navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: var(--D3EBF7);
  width: 100%;
  padding: 1rem 0;
}

#navbar a {
  color: var(--219EBC);
  text-decoration: none;
  transition: color 0.3s ease;
  font-family: "Sour Gummy", sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
}

#navbar a:hover {
  color: var(--FB8500);
  transform: scale3d(1.1, 1.1, 1);
}

body {
  margin: 0;
}

/* animated duck banner */

.duck-banner {
  position: relative;
  height: 120px;
  background: linear-gradient(to bottom, var(--D3EBF7), var(--8ECAE6));
  overflow: hidden;
  z-index: 1;
  border-bottom: 2px solid var(--219EBC);
}

.duck-wrapper {
  position: absolute;
  bottom: 10px;
  left: 100vw;
  animation: floatDuck 20s linear infinite;
}

.duck-img {
  height: 60px;
  transform: scaleX(1);
}

.duck1 {
  animation-delay: 0s;
}
.duck2 {
  animation-delay: 8s;
}
.duck3 {
  animation-delay: 16s;
}

@keyframes floatDuck {
  0% {
    transform: translateX(0) translateY(20);
  }
  25% {
    transform: translateX(-25vw) translateY(-15px);
  }
  50% {
    transform: translateX(-55vw) translateY(10);
  }
  75% {
    transform: translateX(-80vw) translateY(-25px);
  }
  100% {
    transform: translateX(-120vw) translateY(0);
  }
}
